@media (max-width: 425px) {
  .businessOverview {
    background-color: var(--white);
    padding: 1rem;
  }

  .businessOverview > img {
    width: calc(100vw - 2rem);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .businessOverview > h3 {
    margin-block: 1rem;
    color: var(--accent-medium);
  }

  .businessOverview > h2 {
    margin: 0;
  }

  .businessOverview > p {
    color: var(--accent-dark);
  }
}
