@keyframes slideOpen {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(75vw);
  }
}

@keyframes slideClose {
  from {
    transform: translateX(75vw);
  }
  to {
    transform: translateX(0%);
  }
}

.menuOpen {
  animation: slideOpen var(--menu-speed) cubic-bezier(0.8, 0, 1, 1) 1 forwards;
}

.menuClose {
  animation: slideClose var(--menu-speed) cubic-bezier(0.8, 0, 1, 1) 1 backwards;
}

@media (max-width: 800px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--menu-height);
    grid-template-areas: "menu headerLogo headerText .";
    grid-template-columns: 2rem min-content min-content 1fr;
    column-gap: 1rem;
    padding-left: 1rem;
  }

  .headerNav {
    position: fixed;
    top: 0;
    left: -75vw;
    width: 75vw;
    height: 100vh;
    /* transform: translateX(-75vw); */
    background-color: var(--background-color);
  }

  .headerExitButton {
    position: absolute;
    right: 0;
    padding: 1rem;
    height: 2rem;
    width: auto;
    color: var(--white);
  }

  .menu {
    width: 2rem;
    height: auto;
  }

  .menu > svg {
    width: 2rem;
    height: auto;
  }

  .headerLogo {
    height: auto;
    width: 2rem;
  }

  .headerText {
    color: var(--white);
    font-size: 1rem;
    height: min-content;
    width: max-content;
  }
}

.d-none {
  display: none;
}

.header {
  width: 100vw;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
  z-index: 1020;
}

.menu {
  grid-area: menu;
}

.menu > svg {
  color: var(--white);
}

.headerLogo {
  grid-area: headerLogo;
}

.headerText {
  grid-area: headerText;
}

.headerNav {
  grid-area: headerNav;
  display: flex;
  flex-direction: column;
}

.NavItem {
  color: var(--grey);
  margin-left: 1rem;
  margin-top: 2rem;
}

.NavItem:hover {
  color: var(--white);
}
