@media (max-width: 425px) {
  .infoCardsContainer {
    grid-template-areas:
      "one one ."
      ". two two"
      "three three ."
      ". four four";
    grid-template-columns: 1fr 14rem 1fr;
    margin: 1rem;
  }

  .infoCard {
    padding-bottom: 1rem;
    padding-inline: 1rem;
    padding-top: 2rem;
  }
}

@media (min-width: 426px) {
  .infoCardsContainer {
    display: grid;
    grid-template-areas:
      "one ."
      "two three"
      ". four";
    grid-template-columns: 1fr 1fr;
  }
}

.statistics {
  background-color: var(--background-color);
  color: var(--white);
  height: calc();
  padding-block: 1rem;
}

.infoCardsContainer {
  display: grid;
}

.infoCard {
  display: flex;
  flex-direction: column;
}

.infoCard > p {
  margin-top: 0;
}

.infoCard > h3 {
  margin-bottom: 0;
}

.card-1 {
  grid-area: one;
  background-color: var(--white);
  color: var(--background-color);
}

.card-2 {
  grid-area: two;
}

.card-2,
.card-4 {
  background-color: var(--accent-dark);
}

.card-3 {
  grid-area: three;
  background-color: var(--accent-color);
}

.card-4 {
  grid-area: four;
}
