html {
  --background-color: #0d1317;
  --accent-dark: #101d42;
  --accent-color: #232ed1;
  --accent-medium: #6564db;
  --accent-light: #89d2dc;
  --grey: #999;
  --white: #ddd;
}

@media (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
}
